<!DOCTYPE HTML>
<html>
<head>
    <title>TopCinema</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8 /">
</head>
<body>
    <div>Welcome to TopCinema</div>
    <a href="/main">Go to Main page</a>
</body>
</html>