<!DOCTYPE HTML>
<html>
<head>
    <title>Greeting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8 /">
</head>
<body>
    <div>Список сообщений</div>
    {{#movies}}
        <div>
            <b>{{id}}</b>
            <span>{{title}}</span>
            <i>{{rating}}</i>
        </div>
    {{/movies}}
</body>
</html>